apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-main
  labels:
    app: my-app
spec:
  replicas: 9
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
        version: v1.0.0
    spec:
      containers:
      - name: my-app
        image: containersol/k8s-deployment-strategies
        ports:
        - containerPort: 8080
        - containerPort: 9101
        env:
        - name: VERSION
          value: "v1.0.0"