apiVersion: apps/v1
kind: Deployment
metadata:
  name: sla-calculator
  namespace: st-ab1-kim
  labels:
    app.kubernetes.io/name: sla-calculator
    app.kubernetes.io/component: background-job
spec:
  replicas: 1 
  selector:
    matchLabels:
      app.kubernetes.io/name: sla-calculator
  template:
    metadata:
      labels:
        app.kubernetes.io/name: sla-calculator
        app.kubernetes.io/component: background-job
    spec:
      containers:
        - name: sla-calculator
          image: bunsans/sla-calculator:latest
          envFrom:
            - configMapRef:
                name: sla-calculator-config
          env:
            - name: MAGE_AUTH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: sla-mage-token 
                  key: MAGE_AUTH_TOKEN
            - name: MYSQL_USER
              value: "root" 
            - name: MYSQL_PASS
              valueFrom:
                secretKeyRef:
                  name: mysql 
                  key: MYSQL_ROOT_PASSWORD
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 100m
              memory: 256Mi
