apiVersion: v1
kind: ConfigMap
metadata:
  name: sla-calculator-config
  namespace: st-ab1-kim # Укажите ваш namespace
data:
  MAGE_API_URL: "https://sage.sre-ab.ru/mage/api/search"
  MAGE_METRICS_INDEX: "oncall_metrics" 
  SLA_PERIOD_DAYS: "30"
  SCRAPE_INTERVAL: "60"
  LOG_LEVEL: "INFO"
  MYSQL_HOST: "oncall-mysql"
  MYSQL_DB_NAME: "sla"